<?xml version="1.0" encoding="utf-8" ?>
<modules>
  <module assembly="SS.Core" moduleName="SS.Core.Modules.LogConsole" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.ConfigManager" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.Mainloop" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.PlayerData" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.BandwidthNoLimit" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.EncryptionNull"/>
  <module assembly="SS.Core" moduleName="SS.Core.Modules.Network" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.ArenaManager" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.CoreModule" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.MapNewsDownload" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.ClientSettings" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.Chat" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.Game" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.ArenaPlaceMultiPub" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.CapabilityManager" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.CommandManager" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.PlayerCommand" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.MapData" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.LagData" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.AutoWarpModule" />
  <module assembly="SS.Core" moduleName="SS.Core.Modules.FileTransferModule" />
  <!--
  <module assembly="TurfReward.dll" moduleName="TurfReward.TurfModule" />
  <module assembly="TurfReward.dll" moduleName="TurfReward.TurfRewardPoints" />
  -->
</modules>
