<?xml version="1.0" encoding="utf-8" ?>
<modules>
  <module type="SS.Core.Modules.LogManager, SS.Core" />
  <module type="SS.Core.Modules.LogConsole, SS.Core" />
  <module type="SS.Core.Modules.ConfigManager, SS.Core" />
  <module type="SS.Core.Modules.Mainloop, SS.Core" />
  <module type="SS.Core.Modules.PlayerData, SS.Core" />
  <module type="SS.Core.Modules.BandwidthNoLimit, SS.Core" />
  <module type="SS.Core.Modules.EncryptionNull, SS.Core"/>
  <module type="SS.Core.Modules.Network, SS.Core" />
  <module type="SS.Core.Modules.ArenaManager, SS.Core" />
  <module type="SS.Core.Modules.CoreModule, SS.Core" />
  <module type="SS.Core.Modules.MapNewsDownload, SS.Core" />
  <module type="SS.Core.Modules.ClientSettings, SS.Core" />
  <module type="SS.Core.Modules.Chat, SS.Core" />
  <module type="SS.Core.Modules.Game, SS.Core" />
  <module type="SS.Core.Modules.ArenaPlaceMultiPub, SS.Core" />
  <module type="SS.Core.Modules.CapabilityManager, SS.Core" />
  <module type="SS.Core.Modules.CommandManager, SS.Core" />
  <module type="SS.Core.Modules.PlayerCommand, SS.Core" />
  <module type="SS.Core.Modules.MapData, SS.Core" />
  <module type="SS.Core.Modules.LagData, SS.Core" />
  <module type="SS.Core.Modules.AutoWarpModule, SS.Core" />
  <module type="SS.Core.Modules.FileTransferModule, SS.Core" />

  <!--
  <module type="TurfReward.TurfModule, TurfReward" />
  <module type="TurfReward.TurfRewardPoints, TurfReward" />
  -->
</modules>
